header {
 /*背景*/   background-color: #000; 
}

header p {
    color: #fff;
    text-align: center;
}



h1 {
 /*文字色*/   color: #fff; 
 /*文字ぞろえを中央に*/
 text-align: center;
}

img {
 /*幅*/  
  width: 100%;
 /*高さ*/
height: 240px;
/*写真をいい感じにトリミング*/
object-fit:cover
}


main{
    width: 600px;
    /* background: #ff0; */

/*余白margin*/
/*左と右の余白をいい感じに整える*/
margin-left: auto;
margin-right: auto;
}

footer {
   background: #005;
   /*内側の余白*/
   padding: 40px;
}

footer h2 {
    color: #fff;
    text-align: center;
}

footer p {
    color: #fff;
    text-align: center;
}

div {
    /* background: #ddd; */
    padding: 16px;
    margin-bottom: 10px;
}


#blue {
    background: #ddf;
}

#pink {
    background: #fdd;
}

#yellow {
    background: #ffd;
}

.emp{
    border: 1px solid #000;
    width: 80px;
    padding: 8px;
    text-align: center;
}







/* カラーコード */
/* ＃から始まる6桁コード
赤2桁、緑2桁、青2桁
の組み合わせで色が決まる
00が一番弱くffが一番強い
赤ff緑00青00（#ff0000)は「真っ赤」ということ
値は16進数
00,01,02,03,04,05,06,07,08,09,0a,0b,0c,0d,0e,0f,10‥‥という形で繰り上がっていく */
/* 3系統ともゾロ目の時に限り省略可
aabbcc⇒abc
ff55dd⇒f5d
000000⇒000
ffffff⇒fff */